body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;
    word-wrap: break-word;
}
.content {
    margin:10px;
    margin-top:20px;
}

a {color: rgb(255, 0, 255);text-decoration: none;}
a:active, a:hover:active {color: rgb(255, 179, 255);}
a:hover {color: rgb(255, 121, 255);}


.pagetitle, .backbutton, .R74nicon {font-size: 40px;display: inline-block;margin:0px;vertical-align: middle;}
.pagetitle {margin-left: 10px;}
.R74nicon {height:50px;width:50px;transition:3s;}

b {font-weight:bold;}
i {font-style:italic;}

img, audio, video {vertical-align:middle;max-width:100%}


.R74nicon:hover {
    -webkit-box-shadow: 0px 0px 35px 500px rgba(0, 255, 242, 0.75);
    -moz-box-shadow: 0px 0px 35px 500px rgba(0, 255, 242, 0.75);
    box-shadow: 0px 0px 35px 500px rgba(0, 255, 242, 0.75);
    border-radius:100px;
    border-color:rgba(0, 163, 155, 0.75);

    border-style:solid;
    filter:hue-rotate(225deg);
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

input[type=button], button, input[type=submit], .checkmark {
    background-color: rgb(107,107,107);
    color: rgb(255,255,255);
    box-shadow: 0px 1.75px rgb(26,26,26);
    font-size: 20px;
    border-radius: 7px;
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
    min-width: 30px;
    max-height: 40px;
    vertical-align: middle;
    line-height: 22px;
    cursor: pointer;
    outline: 0;
    margin: 4px 0;
}
textarea, button, input[type=button], input[type=submit], .checkmark {
    vertical-align: middle;
}
input[type=button]:active, button:active, input[type=submit]:active, .checkmark:active {
    
    filter: brightness(50%);
}

textarea, input[type=text] {
    background-color: rgb(107,107,107);
    color: rgb(255,255,255);
    border-radius: 15px;
    border-style: none;
    outline: 0;
    padding: 10px;
}
textarea:focus {
    box-shadow: 0 0 3pt 2pt rgb(31, 31, 31);
}
textarea {
    max-width:80%;
}
select {
    background-color: rgb(107,107,107);
    color: rgb(255,255,255);
    border-radius: 15px;
    border-style: none;
    outline: 0;
    padding: 10px;
}


ul {
    list-style: none; /* Remove default bullets */
  }
ul li::before {
    content: "\003E";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: lime; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
ul li.redbullet::before {
    color:red;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgray;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgray;
}



.checkbox {
    position: absolute;
    opacity: 0;
}
.checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}
.checkbox + label:before {
    content: '';
    margin-right: 5px;
    margin-top: 2.5px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: rgb(107,107,107);
    border-radius: 5px;
    border-style: none;
}
.checkbox:hover + label:before {
    filter: brightness(150%)
}
.checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.checkbox:checked + label:before {
    background: white;
}
.checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}
.checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}
.checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: black;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 black, 4px 0 0 black, 4px -2px 0 black, 4px -4px 0 black, 4px -6px 0 black, 4px -8px 0 black;
    transform: rotate(45deg);
    margin-top: 2.5px;
}

hr {
    border: 1px solid rgb(53, 53, 53);
    margin-left:50px;
    margin-right:50px;
    margin-bottom:30px;
    margin-top:30px;
}

.lidesc {margin-left:10px;}
.lidesc::before {content:"↳ "}
.cw[open="false"] {cursor:pointer;background-color:rgb(39, 39, 39);padding:5px;border-radius:20px;line-height:2;}
.desc {display:block;margin-left:10px;}
.desc::before {content:"↳ "}
.wordtxt {}
.wordsep {color:rgb(85, 85, 85);}
.worddef {color:lightgray;font-style:italic;}
.wordlist {white-space:pre-wrap;margin-left:10px;margin-left:40px;}
.wordline {margin-left: -20px;text-indent: 10px;}
.toc {margin:0px;}